<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE MudletPackage>
<MudletPackage version="1.001">
	<TriggerPackage />
	<TimerPackage />
	<AliasPackage>
		<Alias isActive="yes" isFolder="no">
			<name>doors</name>
			<script>local dir = matches[4] or ""

switch({
  ["op"] = function() send("_open " .. dir) end,
  ["cl"] = function() send("_close " .. dir) end,
  ["bl"] = function() send("_block " .. dir) end,
  ["ba"] = function() send("_bash " .. dir) end,
  ["br"] = function() send("_break " .. dir) end,
  ["ul"] = function() send("_unlock " .. dir) end,
  ["lo"] = function() send("_lock " .. dir) end,
  ["pi"] = function() send("_pick " .. dir) end,
  ["kn"] = function() send("_knock " .. dir) end,
  ["ro"] = function() send("_rock " .. dir) end,
}):case(matches[2])</script>
			<command></command>
			<packageName></packageName>
			<regex>^(op|cl|bl|ba|br|ul|lo|pi|kn|ro)( (.*))?$</regex>
		</Alias>
	</AliasPackage>
	<ActionPackage />
	<ScriptPackage />
	<KeyPackage />
	<HelpPackage>
		<helpURL></helpURL>
	</HelpPackage>
</MudletPackage>
